{% extends parent_template|default:"core/base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Contact Me</h1>
        </div>
        <div class="row">
            <form method="post" action="{% url 'core:contact' %}" class="contact-form">
                {% csrf_token %}
                {{ form.email }}
                {{ form.message }}
                <input class="submit" type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock body %}
