{% extends parent_template|default:"core/base.html" %}
{% block body %}
    <header class="hero">
        <h1>Placeholder Text Here</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="row-item">
                tech cloud
            </div>
            <div class="row-item">
                <h2>About Me</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore impedit, expedita, qui distinctio voluptatibus possimus quidem fuga ipsum earum quod sunt atque ea soluta molestias culpa architecto odit odio.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
