{% extends parent_template|default:"core/base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="card-container">
            <div class="card">
                <div class="card-left">
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-right">
                    <h2>Who Knows - Q&A</h2>
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                    <p class="card-footer">
                        <a href="{% url 'core:whoknows' %}" class="card-link">Check it out</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-left">
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-right">
                    <h2>Who Knows - Q&A</h2>
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                    <p class="card-footer">
                        <a href="#" target="_blank" class="card-link">Check it out</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="card-left">
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-right">
                    <h2>Who Knows - Q&A</h2>
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                    <p class="card-footer">
                        <a href="#" target="_blank" class="card-link">Check it out</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}
