{% extends parent_template|default:"core/base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <a href="#" target="_blank" class="card">
                <div class="card-header">
                    <h2>Who Knows - Q&A</h2>
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-body">
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="card-link">Check it out</div>
                </div>
            </a>
            <a href="#" target="_blank" class="card">
                <div class="card-header">
                    <h2>Who Knows - Q&A</h2>
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-body">
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="card-link">Check it out</div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#" target="_blank" class="card">
                <div class="card-header">
                    <h2>Who Knows - Q&A</h2>
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-body">
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="card-link">Check it out</div>
                </div>
            </a>
            <a href="#" target="_blank" class="card">
                <div class="card-header">
                    <h2>Who Knows - Q&A</h2>
                    <img src="{% static 'core/img/whoknows/question.png' %}" alt="WhoKnows card image" class="card-image">
                </div>
                <div class="card-body">
                    <p>Who Knows is a question and answer site similar to Stack Overflow or Quora.</p>
                    <p>It includes all the functionality you would expect from a Q&A site such as:</p>
                    <ul class="margin-left margin-top">
                        <li>Voting for questions, answers or comments</li>
                        <li>Accepting answers</li>
                        <li>Tagging and filtering</li>
                        <li>Searching</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="card-link">Check it out</div>
                </div>
            </a>
        </div>
    </div>
{% endblock body%}
